body {
  background-color: White;
  color: Black;
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  text-align: center;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
  padding: 1px;
}

.button-space {
  padding: 14px 4px;
}

.weather-box {
  padding: 0 0;
}
